<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="daoImpl" class="com.lics.dao.UserDaoImpl" />
    <bean id="daoMysqlImpl" class="com.lics.dao.UserDaoMysqlImpl" />
    <bean id="serviceImpl" class="com.lics.service.UserServiceImpl" >
        <property name="userDao" ref="daoMysqlImpl" />
    </bean>

<!--    &lt;!&ndash; 有参构造第一种： 下标赋值 &ndash;&gt;-->
<!--    <bean id="user" class="com.lics.pojo.User">-->
<!--        <constructor-arg index="0" value="lics-index" />-->
<!--    </bean>-->

    <!-- 有参构造第一种： 下标赋值 -->
<!--    <bean id="user" class="com.lics.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="lics-type" />-->
<!--    </bean>-->

    <bean id="user" class="com.lics.pojo.User">
        <constructor-arg name="name" value="lics-arg-name" />
    </bean>


</beans>