<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 注册bean -->
    <bean id="userService" class="com.lics.service.UserServiceImpl" />
    <bean id="log" class="com.lics.log.Log" />
    <bean id="logAfter" class="com.lics.log.LogAfter" />

    <!-- 配置aop -->
<!--    <aop:config>-->
<!--        &lt;!&ndash; 切入点 &ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.lics.service.UserServiceImpl.*(..))"/>-->
<!--        &lt;!&ndash; 执行环绕增加！ &ndash;&gt;-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut" />-->
<!--        <aop:advisor advice-ref="logAfter" pointcut-ref="pointcut" />-->
<!--    </aop:config>-->

    <!-- 方式二 -->
<!--    <bean id="diy" class="com.lics.diy.DiyPointCut"/>-->

<!--    <aop:config>-->
<!--        &lt;!&ndash; 自定义切面， ref 要引用的类&ndash;&gt;-->
<!--        <aop:aspect ref="diy">-->
<!--            &lt;!&ndash; 切入点 &ndash;&gt;-->
<!--            <aop:pointcut id="point" expression="execution(* com.lics.service.UserServiceImpl.*(..))"/>-->
<!--            -->
<!--            &lt;!&ndash; 通知 &ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="point" />-->
<!--            <aop:after method="after" pointcut-ref="point" />-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <!-- 方式三 -->
    <bean id="annotationPointCut" class="com.lics.diy.AnnotationPointCut" />
    <!-- 开启注解支持 -->
    <aop:aspectj-autoproxy/>

</beans>